*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--zinc-100);
    font-size: var(--text-base);
    font-weight: var(--bold-lvl-1);
}
html{
    display: block;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}
/*Main Containers */
.container{
    display: flex;
    padding: 1rem;
    width: 100%;
    max-width: 50rem;
    align-content: center;
    margin: 0rem auto;
}
.container > *{
    background-color: inherit;
}
.container-border{
    border-radius: var(--main-border);
}
/*Cards*/
.title-desc{
    text-wrap: wrap;
    width: 100%;
    max-width: 40vh;
}
.card-holder{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*height: 35rem;*/
    padding: var(--padding-c1);
    text-align: center;
    align-items: center;
    width: 100%;
    max-width: 30vh;
    margin: .25rem 1.5rem;
}
.card > button{
    background-color: var(--blue-600);
}
.card > img{
    width: 100%;
    height: auto;
}
.banner{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    position: relative;
    align-items: center;
    overflow: scroll;
}
.flat-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.cards-controls{
    display: flex;
    justify-content: space-between;
    width: 4.75rem;
    margin: 0rem 0rem 0rem auto;
}
.cards-controls > button{
    border: none;
    outline: none;
    background-color: white;
}
/*Buttons*/
.btn-pill{
    color:white; 
    border:none; 
    outline: none; 
    padding: 1.25rem;
    margin: 0rem auto;
    font-size: var(--text-b1);
    background-color: var(--blue-600);
}
.btn-pill:hover{
    background-color: var(--blue-700);
    cursor: pointer;
}
button{
    cursor: pointer;
}
/*Fonts*/
.text-base{
    font-size: 1rem;
}
.text-mainbody{
    font-size: 1.25rem;
    line-height: calc(2/1.75);
}
.text-title{
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
}
.font-title {
  font-family: "Noto Sans Ethiopic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.font-title > *{
    font-family: "Noto Sans Ethiopic", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.font-body{
  font-family: "Noto Sans Ethiopic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.material-icons, .card > *{
    background-color: inherit;
}
i{
    background-color: inherit;
    color: black;
}
i:hover{
    color: var(--blue-600);
}
/*header*/
header{
    width: 100%;
    padding: .25rem;
    align-items: center;
}
.links-cont{
    background-color: var(--background);
    padding: .5rem;
}
.setting-cont{
    display: none;
    background-color: var(--background);
    padding: .25rem;
    border-radius: 99999rem;
}
.links-cont > button{
  border: none;
  outline: none;
  font-size: var(--text-b2);
  padding: 0.25rem;
  cursor: pointer;
  background-color: inherit;
  border-radius: var(--main-border);
  transition: color .5s ease-in-out;
}
.links-cont > button:hover{
    color: var(--blue-600);
}
.nav-active{
    color: var(--blue-800);
}
/*Footer */
.hero-img > img{
  width: 100%;
  max-width: 30dvh;
  height: auto;
}
footer{
    font-size: var(--text-b1);
}
.foo-main{
    display: flex;
    overflow-x: hidden;
}
.foo-main > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
h6{
    font-size: var(--text-t1);
    color: var(--blue-800);
}
.foo-btn{
    font-size: var(--text-b1);
}
.fa-brands{
    font-size: var(--text-t1);
}
blockquote span{
    display: block;
}
.foo-pages-container{
    display: flex;
    flex-direction: column;
}
.foo-pages-container > button{
    transition: all .5s linear;
}
.foo-pages-container > button:hover{
    color: var(--blue-600);
}
/*Contact Page*/
.fourm > div > input,textarea{
    border: none;
    background-color: white;
    outline: none;
    font-size: 1.25rem;
    padding: 1rem;
    margin-left: .25rem;
    cursor: pointer;
    border-radius: 2rem;
    transition: color .25s ease-in-out;
    font-weight: 500;
    width: fit-content;
    box-shadow: var(--shadow-sm);
    font-family: "Noto Sans Ethiopic", sans-serif;
}
.fourm > div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-inline-end: 1.5rem;
}
.fourm > div > label{
    background-color: var(--background);
    padding: 1rem;
    border-radius: 1rem;
    width: fit-content;
    font-family: "Noto Sans Ethiopic", sans-serif;
}
textarea{
    width: 170px;
    height: 150px;
}
.hide{
    opacity: 0;
    display: none;
}
.hide > *{
    display: none !important;
}
/*Home Page*/
.hero{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.hero-container{
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center; 
    justify-content: center;
    padding: 1rem;
}   
.hero-container > *{
    margin: .25rem 0rem;
}
.hero-container > h1{
    font-size: var(--text-t2);
}
.hero-container > p{
    font-size: var(--text-b1);
}
.hero-img{
    display: flex; 
    align-content: center; 
    margin: auto 0rem 0rem 0rem; 
    height: 100%;
    width: 100%;
}
.hero-img > img{
    height: 100%;
    width: 100%;
    max-height: 30dvh;
    max-width: 30dvw;
}
@media (width >= 48rem) {
    .btn-pill{
        font-size: var(--text-b2);
    }
    .flat-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .banner{
        width: 70vh;
        margin: .5rem auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .card-holder{
        width: 80rem;
    }
    /*Navbar */
    .setting-cont{
        display: inline;
    }
    .bars-btn{
        display: none;
    }
    .links-cont > button{
        font-size: var(--text-t2);
        padding: var(--padding-c3);
    }
    .links-cont{
        display: flex !important;
    }
    /*Footer */
    h6{
        font-size: var(--text-t2);
    }
    .foo-btn{
        font-size: var(--text-b2);
    }
    .fa-brands{
        font-size: var(--text-t1);
    }
    footer{
        font-size: var(--text-b2);
    }
    blockquote span{
        display: inline;
    }
    .foo-pages-container{
        display: flex;
        flex-direction: row;
    }
    /*Home Page*/
    .hero{
        flex-direction: row;
        justify-content: center;
    }
    .hero-img > img{
        height: 68rem;/*72 rem for lg*/
    }
    .hero-container{
        padding: 2rem;
    }
    .hero-container > h1{
        font-size: var(--text-t3);
    }
    .hero-container > p{
        font-size: var(--text-b2);
    }
}
