*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--zinc-100);
    font-size: var(--text-base);
    font-weight: var(--bold-lvl-1);
}
html{
    display: block;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}
/*Main Containers */
.container{
    display: flex;
    padding: 1rem;
    width: 50rem;
    align-content: center;
    margin: 0rem auto;
}
.container > *{
    background-color: inherit;
}
.container-border{
    border-radius: 1.55rem;
}
/*Cards*/
.title-desc{
    text-wrap: wrap;
    width: 100%;
    max-width: 40vh;
}
.card-holder{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*height: 35rem;*/
    padding: var(--padding-c1);
    text-align: center;
    align-items: center;
    width: 100%;
    max-width: 30vh;
    margin: .25rem 1.5rem;
}
.card > button{
    background-color: var(--blue-600);
}
.card > img{
    width: 100%;
    height: auto;
}
.banner{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    position: relative;
    align-items: center;
    overflow: scroll;
}
.flat-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.cards-controls{
    display: flex;
    justify-content: space-between;
    width: 4.75rem;
    margin: 0rem 0rem 0rem auto;
}
.cards-controls > button{
    border: none;
    outline: none;
    background-color: white;
}
/*Buttons*/
.btn-pill{
    color:white; 
    border:none; 
    outline: none; 
    padding: 1.25rem;
    margin: 0rem auto;
    font-size: var(--text-b1);
    background-color: var(--blue-600);
}
.btn-pill:hover{
    background-color: var(--blue-700);
    cursor: pointer;
}
button{
    cursor: pointer;
}
/*Fonts & fonts*/
.text-base{
    font-size: 1rem;
}
.text-mainbody{
    font-size: 1.25rem;
    line-height: calc(2/1.75);
}
.text-title{
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
}
.font-title {
  font-family: "Noto Sans Ethiopic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.font-title > *{
    font-family: "Noto Sans Ethiopic", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.font-body{
  font-family: "Noto Sans Ethiopic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.material-icons, .card > *{
    background-color: inherit;
}
i{
    background-color: inherit;
    color: black;
}
i:hover{
    color: var(--blue-600);
}
.fourm > div > input,textarea{
    border: none;
    background-color: white;
    outline: none;
    font-size: 1.25rem;
    padding: 1rem;
    margin-left: .25rem;
    cursor: pointer;
    border-radius: 2rem;
    transition: color .25s ease-in-out;
    font-weight: 500;
    width: fit-content;
    box-shadow: var(--shadow-sm);
    font-family: "Noto Sans Ethiopic", sans-serif;
}
.fourm > div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-inline-end: 1.5rem;
}
.fourm > div > label{
    background-color: var(--background);
    padding: 1rem;
    border-radius: 1rem;
    width: fit-content;
    font-family: "Noto Sans Ethiopic", sans-serif;
}
textarea{
    width: 170px;
    height: 150px;
}


.hide{
    opacity: 0;
    display: none;
}

.hero-img > img{
  width: 100%;
  max-width: 30dvh;
  height: auto;
}


@media (width >= 48rem) {
    .btn-pill{
        font-size: var(--text-b2);
    }
    .flat-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .banner{
        width: 70vh;
        margin: .5rem auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .card-holder{
        width: 80rem;
    }
}