<link rel="stylesheet" href="/styles/footer.css">
<section class="foo-main background p-2  justify-between">
    <div class="">
        <h6>Anish Thapa</h6>
        <img class="bg-inherit size-8" src="img/logo-6.png" alt="">
        <blockquote class="text-xs text-italic">
            <span>"Do it for,</span>
            <span>the fun of it!"</span>
        </blockquote>
    </div>
    <div class="">
        <h6 class="">
            Pages
        </h6>
        <div class="foo-pages-container space-x-1">

        </div>
        <p class="text-italic">Copy &copy; right 2025</p>
    </div>
    <div class="">
        <h6>Contact</h6>
        <div class="social-container flex justify-between space-x-2 "></div>
        <addres class="text-italic bg-inherit">test@gmail.com</address>
    </div>

</section>
