<link rel="stylesheet" href="/styles/navbar.css">
<section class="nav-container" style="">
    <img style="margin: 0rem 0rem 0rem .25rem" class=" size-16 space-y-1" src="/img/logo-6.png" alt=""/>
    
    <div class=" shadow-md background container-border nav-btn-cont font-title">
        <button class="" id="nav-1" onClick="switchPage('home.html',1)">Home</button>
        <button id="nav-2" onClick="switchPage('about.html',2)">About</button>
        <button id="nav-3" onClick="switchPage('project.html',3)">Projects</button>
        <button id="nav-4" onClick="switchPage('contact.html',4)">Contact</button>
        <button id="nav-5" onClick="switchPage('Doc.html',5)">Docs</button>
    </div>
    <div class="setting border-full shadow-md background size-fit">
        <button>
            <i class="fa-solid fa-universal-access"></i>
        </button>
        <button>
            <i class="fa-solid fa-circle-half-stroke"></i>
        </button>
    </div>
</section>
