<link rel="stylesheet" href="styles/navbar.css">
<section class="nav-container">
    <img style="margin: 0rem 0rem 0rem .25rem" class=" size-8 space-y-1" src="img/logo-6.png" alt=""/>
    <div class=" shadow-md background container-border nav-btn-cont font-title">
        <button class="" id="nav-1" onClick="switchPage('home',1)">Home</button>
        <button id="nav-2" onClick="switchPage('about',2)">About</button>
        <button id="nav-3" onClick="switchPage('project',3)">Projects</button>
        <button id="nav-4" onClick="switchPage('contact',4)">Contact</button>
        <button id="nav-5" onClick="switchPage('docs',5)">Docs</button>
    </div>
    <button class="btn-none background shadow-md p-2 container-border">
        <i class="fa-solid fa-circle-half-stroke"></i>
    </button>
</section>
