footer{
    font-size: var(--text-b1);
    width: 100%;
    bottom: 0;
}
.foo-main{
    display: flex;
    overflow-x: hidden;
}
.foo-main > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
h6{
    font-size: var(--text-t1);
    color: var(--blue-800);
}
.foo-btn{
    font-size: var(--text-b1);
}
.fa-brands{
    font-size: var(--text-b2);
}
blockquote span{
    display: block;
}
.foo-pages-container > button{
    transition: all .5s linear;
}
.foo-pages-container > button:hover{
    color: var(--blue-600);
}
@media (width >= 48rem) {
    h6{
        font-size: var(--text-t2);
    }
    .foo-btn{
        font-size: var(--text-b2);
    }
    .fa-brands{
        font-size: var(--text-t1);
    }
    footer{
        font-size: var(--text-b2);
    }
    blockquote span{
        display: inline;
    }
}