.nav-container{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 0rem;
}
.nav-btn-cont{
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-around;
    margin: .5rem auto;
}
.nav-btn-cont > button{
  border: none;
  background-color: white;
  outline: none;
  font-size: var(--text-t1);
  padding: 0rem;
  margin-left: .25rem;
  cursor: pointer;
  border-radius: 2rem;
  transition: color .25s ease-in-out;
  font-weight: 400;
}
.nav-btn-cont > button:hover{
    color: var(--blue-600);
}
.nav-active{
    color: var(--blue-800);
}
.setting{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 5vh;
    padding: .25rem;
    margin: .5rem;
}
.setting > button{
    padding: 0rem;
    border: none;
    background-color: white;
}
.setting > button > i{
    font-size: var(--text-b2);
    border-radius: 99999rem;
}
@media (width >= 48rem)  {
    .nav-btn-cont{
        width: 40vh;
    }
  .nav-btn-cont > button{
    font-size: var(--text-t2);
    }
    .setting{
        width: 8vh;
        padding: .5rem;
    }
    .setting > button > i{
        font-size: var(--text-t2);
    }
}
